@model IEnumerable<DoAnWebFilm.Models.AdminPro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container-md">
        <div class="my-5 ">
            <div class="my-3 d-flex justify-content-end">

                <div class="">
                    @*<form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>*@
                </div>

            </div>
            <div class="card">
                <div class="card-header bg-info d-flex justify-content-between">
                    <div class="h4 mb-0 mt-1">
                        Quản lý tài khoản admin
                    </div>
                    <div>
                        @Html.ActionLink("Thêm Admin", "Create", null, new { @class = "btn btn-success mx-1" })

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Tên tài khoản</th>
                                <th scope="col">Mật khẩu</th>
                                <th scope="col">Thao tác</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="text-center">

                                <th scope="col">   @Html.DisplayFor(modelItem => item.id)</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ten_admin)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.mat_khau_admin)
                                </td>

                                <td>

                                    <a href="@Url.Action("Edit", "AdminManager", new { id = item.id })" class="btn btn-warning mx-1">
                                        <i class="fas fa-pen text-white"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", "AdminManager", new { id = item.id })" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt text-white"></i>
                                    </a>

                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>
</section>
