@model IEnumerable<DoAnWebFilm.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}







<!--Film-->
<section>
    <div class="container-md">
        <div class="my-5 ">
            <div class="my-3 d-flex justify-content-end">

                <div class="">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>
                </div>

            </div>
            <div class="card">
                <div class="card-header bg-info d-flex justify-content-between">
                    <div class="h4 mb-0 mt-1">
                        Quản lý phim
                    </div>
                    <div>
                        @Html.ActionLink("Thêm Phim", "Create", null, new {@class = "btn btn-success mx-1" })
             
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Tên phim</th>
                                <th scope="col">Ảnh bìa</th>
                            

                            
                                <th scope="col">Loại</th>
                                <th scope="col">Diễn viên</th>
                                <th scope="col">Quốc gia</th>
                                <th scope="col">Năm</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Thao tác</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="text-center">





                                <th scope="col">   @Html.DisplayFor(modelItem => item.id_phim)</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ten_phim)
                                </td>
                                <td>
                                    <img class="img-thumbnail" src="@Url.Content("~/HinhPhim/"+  item.anh_bia)" width="100" alt="Loading..." />
                                </td>

                           

                                <td>
                                    @foreach (var filmType in item.ChiTietLoais)
                                    {
                                        <p style="margin-right: 10px;  ">@filmType.Loai.ten_loai</p>
                                    }
                                </td>
                                <td>
                                    @foreach (var filmDienVien in item.Phim_Dienviens)
                                    {
                                        <p style="margin-right: 10px">@filmDienVien.DienVien.ten_dien_vien</p>
                                    }
                                </td>
                                <td>
                                    @item.QuocGia.ten_quoc_gia
                                </td>
                                <td>
                                    @item.NamPhatHanh.nam_phat_hanh
                                </td>
                                <td>
                                    @item.TrangThai.ten_trang_thai
                                </td>

                                <td>

                                    <a href="@Url.Action("Edit", "Edit", new { id = item.id_phim })" class="btn btn-warning mx-1">
                                        <i class="fas fa-pen text-white"></i>
                                    </a>
                                    <a href="@Url.Action("Details", "Details", new { id = item.id_phim })" class="btn btn-info mx-1">
                                        <i class="fas fa-file-alt text-white "></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "Delete", new { id = item.id_phim })" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt text-white"></i>
                                    </a>
                              
                                </td>
                            </tr>

                            }
                            </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>
</section>