
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bg-dark py-3 px-2 mt-3 text-white">
        <div>
            <h4>Đăng ký thành viên</h4>
        </div>
    </div>

    <div class="mx-5 px-5">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
        <div class="mx-5 py-5 my-5 px-5">

            <div class="mx-5 py-1 px-5">
                @Html.TextBox("HotenND", "", new { @class = "form-control", @placeholder = "Họ tên" })
                @ViewData["Loi1"]
            </div>
            <div class="mx-5 py-1 px-5">
                @Html.TextBox("TenDN", "", new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                @ViewData["Loi2"]
            </div>
            <div class="mx-5 py-1 px-5">
                @Html.Password("Matkhau", "", new { @class = "form-control", @placeholder = "Mật khẩu" })
                @ViewData["Loi3"]
            </div>
            <div class="mx-5 py-1 px-5">
                @Html.Password("Nhaplaimatkhau", "", new { @class = "form-control", @placeholder = "Nhập lại mật khẩu" })
                @ViewData["Loi4"]
            </div>
            <div class="mx-5 py-1 px-5">
                @Html.TextBox("Email", "", new { @class = "form-control", @placeholder = "Email" })
                @ViewData["Loi5"]
            </div>
            <div class="mx-5 px-5">
                <input class="btn btn-primary " type="Submit" value="Đăng ký" />
            </div>
                                </div>
                                }

                            </div>


        </div>





