@model IEnumerable<DoAnWebFilm.Models.TrangThai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten_trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ten_trang_thai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_trang_thai }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_trang_thai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_trang_thai })
        </td>
    </tr>
}

</table>
