@model DoAnWebFilm.Models.Phim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-md ">
        <div class="bg-dark p-3 my-2">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item "><a href="#" class="text-white">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-white">Thể Loại</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-white"> Hành Động </a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.ten_phim)</li>
                </ol>
            </nav>
        </div>

        <div class="row gx-2">
            <div class="col-12 col-lg-9">
                <div class=" ">
                    <div class="row gx-1">
                        <div class="col-sm-12 col-md-5 ">
                            <div class="card border-0  ">
                                <img src="@Url.Content("~/HinhPhim/"+ @Html.DisplayFor(model => model.anh_bia))" class="card-img-top" alt="...">
                                <div class="card-header bg-dark d-flex justify-content-center ">
                                  
                                    <a href="@Url.Action("WatchMovie","Home", new { id= Model.id_phim} )" style="text-decoration:none">
                                        <button type="button" class="btn btn-warning mx-1 ">Xem Phim</button>
                                    </a>

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                            Trailer
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade " id="exampleModal" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                                <div class="modal-content ratio ratio-16x9">

                                                    <iframe src="@Html.DisplayFor(model => model.trailer)"
                                                            title="YouTube video player" frameborder="0"
                                                            allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Modal -->



                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-7">
                            <div class="text-white p-3 py-4 bg-dark">
                                <div class="border-bottom">
                                    <h3>      @Html.DisplayFor(model => model.ten_phim)</h3>
                                </div>
                                <div class="mt-3">
                                    <p>Trạng Thái: @Html.DisplayFor(model => model.TrangThai.ten_trang_thai)</p>
                                    <p>Quốc Gia:  @Html.DisplayFor(model => model.QuocGia.ten_quoc_gia)</p>
                                    <p>Năm Sản Xuất:   @Html.DisplayFor(model => model.NamPhatHanh.nam_phat_hanh)</p>
                                    <p>
                                        Thể Loại:  
                                        @foreach (var filmType in Model.ChiTietLoais)
                                        {
                                        <span >@filmType.Loai.ten_loai </span>
                                        }

                                        </p>
                                        <p>Chất lượng: Full HD</p>
                                        <p>Phụ Đề: Tiếng Việt</p>
                                        <p>Lượt Xem: 949 </p>
                                        <p>Công Ty SX: Đang Cập Nhập</p>

                                    </div>
                                </div>

                                <div class="bg-dark my-2 p-3 py-5 text-white">
                                    <h3>Đánh Giá</h3>
                                    <span class="text-warning">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star text-white"></i>
                                    </span>

                                    <span>(35 lượt)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-dark text-white p-3 my-2">
                        <div class="border-bottom">
                            <h5>Nội dung</h5>

                        </div>
                        <div>
                            <p>
                                @Html.DisplayFor(model => model.mo_ta)
                            </p>
                        </div>
                    </div>

                    <div>
                        <div class="my-3 p-3 bg-dark text-white shadow-sm">
                            <h5 class="border-bottom pb-2 mb-0">Bình Luận</h5>
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#007bff" />
                                    <text x="50%" y="50%"
                                          fill="#007bff" dy=".3em">32x32</text>
                                </svg>

                                <p class="pb-3 mb-0 small lh-sm ">
                                    <strong class="d-block text-gray-dark">nguyenngoctuan</strong>
                                    Phim hay thế nhờ
                                </p>
                            </div>
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#e83e8c" />
                                    <text x="50%" y="50%"
                                          fill="#e83e8c" dy=".3em">32x32</text>
                                </svg>

                                <p class="pb-3 mb-0 small lh-sm ">
                                    <strong class="d-block text-gray-dark">nguyenphanhoairin</strong>
                                    Nó ở cái tầm
                                </p>
                            </div>
                            <div class="d-flex text-muted pt-3">
                                <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#6f42c1" />
                                    <text x="50%" y="50%"
                                          fill="#6f42c1" dy=".3em">32x32</text>
                                </svg>

                                <p class="pb-3 mb-0 small lh-sm ">
                                    <strong class="d-block ">nguyengiabao</strong>
                                    Cách ly mà xem mấy loại phim này là nhất rồi
                                </p>
                            </div>
                            <div class=" text-muted pt-3">
                                <div class="d-flex">
                                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                                         xmlns="http://www.w3.org/2000/svg" role="img">
                                        <rect width="100%" height="100%" fill="#6f42c1" />
                                    </svg>

                                    <p class="pb-3 mb-0 small lh-sm ">
                                        <strong class="d-block ">nguyenngocbaotrong</strong>
                                    </p>
                                </div>


                                <div class="mt-1 ">
                                    <textarea class="form-control" placeholder="Thêm Bình Luận" rows="2"></textarea>
                                </div>
                                <div class="text-end mt-2 ">
                                    <button type="button" class="btn bg-primary">Đăng</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="bg-dark p-3 my-2 text-white">
                        <h4>Bạn có thể thích xem</h4>
                    </div>

                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 gy-3 gx-2 g-gl-0 pb-3 ">
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Black Panther.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Black Panther</p>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America 2.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Captain America 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America Civil War.jpg" class="card-img " alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>America Civil War</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Captain America</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain Marvel.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Captain Marvel</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Doctor Strange in the Multiverse of Madness.jpg" class="card-img"
                                     alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Doctor Strange 2</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Doctor Strange.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Doctor Strange</p>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Guardians of the Galaxy 2.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Galaxy 2</p>
                                </div>
                            </div>
                        </div>


                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Black Panther.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Black Panther</p>
                                </div>
                            </div>

                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America 2.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Captain America 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America Civil War.jpg" class="card-img " alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>America Civil War</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white">
                                <img src="~/HinhPhim/Captain America.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay">
                                    <p class="card-title ">Full HD</p>

                                </div>
                                <div class="card-header">
                                    <p>Captain America</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="col-12 col-lg-3 d-none d-lg-block ">
                    <div class=" p-1   ">
                        <h5 class="text-warning">PHIM SẮP CHIẾU</h5>
                        <div class="bg-dark p-2 rounded">

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Iron Man 3.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Iron Man 3</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">673 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Iron Man 2.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Iron Man 2</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">453 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Iron Man.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Iron Man</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">479 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/The Eternals.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>
                                                The
                                                Eternals
                                            </small> <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">Full HD</small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">543 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/The Incredible Hulk.jpg" class="img-fluid rounded-start h-100"
                                             alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Hulk</small> <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">369 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class=" p-1   ">
                        <h5 class="text-warning">PHIM HOT TRONG TUẦN</h5>
                        <div class="bg-dark p-2 rounded">

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Black Widow.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Black Widow</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">873 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor Love and Thunder.jpg" class="img-fluid rounded-start h-100"
                                             alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor 2</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">562 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor Ragnarok.jpg" class="img-fluid rounded-start h-100"
                                             alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor 3</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">870 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor</small> <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">950 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Ant-Man.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Ant-Man</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">879 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                    <div class=" p-1   ">
                        <h5 class="text-warning">PHIM HOT TRONG THÁNG</h5>
                        <div class="bg-dark p-2 rounded">

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Black Widow.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Black Widow</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">873 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor Love and Thunder.jpg" class="img-fluid rounded-start h-100"
                                             alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor 2</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">562 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor Ragnarok.jpg" class="img-fluid rounded-start h-100"
                                             alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor 3</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">870 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Thor.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Thor</small> <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">950 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-dark bg-dark mb-1">
                                <div class="row g-0">
                                    <div class="col-3 ">
                                        <img src="~/HinhPhim/Ant-Man.jpg" class="img-fluid rounded-start h-100" alt="...">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-header fw-bold text-white px-2 py-0">
                                            <small>Ant-Man</small>
                                            <span class="text-white float-end ">
                                                <small class="bg-secondary px-1">
                                                    Full
                                                    HD
                                                </small>
                                            </span>
                                        </div>
                                        <div class="card-body px-2 py-0">
                                            <small class="text-white">879 lượt xem</small>
                                            <div class="text-warning">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>