@using DoAnWebFilm.Models;
@{
    ViewBag.Title = "WatchMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Film-->
<section>
    <div class="container-md">
        <div class="bg-dark p-3 my-2">
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="#" class="text-white">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-white">Thể Loại</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-white">Hành Động</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        @Model.ten_phim
                    </li>
                </ol>
            </nav>
        </div>

        <div class="row gx-2">
            <div class="col-12 col-lg-9">
                <div class="">
                    <div class="row gx-1">
                        <div class="bg-dark p-3 my-2">
                            <div class="text-white">
                                <h3> @Model.ten_phim</h3>
                            </div>
                        </div>

                        <div class=" ratio ratio-16x9">

                            <iframe src="@Model.link_phim" title="YouTube video player"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>

                        <div class="bg-dark my-2 p-3 py-4 text-white">
                            <h3>Đánh Giá</h3>
                            <span class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-white"></i>
                            </span>

                            <span>(35 lượt)</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="mb-3 mt-1 p-3 bg-dark text-white shadow-sm">
                        <h5 class="border-bottom pb-2 mb-0">Bình Luận</h5>
                    


                        @Html.Action("ShowComment", "Home", new { id = @Model.id_phim })


                        @{
                            string ten;
                            int id_nd;
                            if (Session["TaiKhoan"] == null)
                            {
                                ten = "";

                            }
                            else
                            {
                                NguoiDung nd = (NguoiDung)Session["TaiKhoan"];
                                ten = nd.ten_nguoi_dung;
                                id_nd = nd.id_nguoi_dung;

                                @ten

                                Html.RenderPartial("CreateComment", new DoAnWebFilm.Models.BinhLuan()
                                {
                                    id_phim = @Model.id_phim,
                                    id_nguoi_dung = id_nd
                                });
                            }

                        }

                    </div>
                </div>

                <div class="bg-dark p-3 my-2 text-white">
                    <h4>Bạn có thể thích xem</h4>
                </div>

                <div class="
                row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4
                gy-3
                gx-2
                g-gl-0
                pb-3
              ">
                    @Html.Action("MovieMore", "Home")
                </div>
            </div>

            <div class="col-12 col-lg-3 d-none d-lg-block">
                @Html.Action("TopMovie", "Home")
            </div>
        </div>
    </div>
</section>
