@model IEnumerable<DoAnWebFilm.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ten_nguoi_dung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tai_khoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mat_khau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ten_nguoi_dung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tai_khoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mat_khau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id_nguoi_dung }) |
                @Html.ActionLink("Details", "Details", new { id=item.id_nguoi_dung }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id_nguoi_dung })
            </td>
        </tr>
    }

    </table>*@

<section>
    <div class="container-md">
        <div class="my-5 ">
            <div class="my-3 d-flex justify-content-end">

                <div class="">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>
                </div>

            </div>
            <div class="card">
                <div class="card-header bg-info d-flex justify-content-between">
                    <div class="h4 mb-0 mt-1">
                        Quản Lý Người Dùng
                    </div>
                    <div>
                        @Html.ActionLink("Thêm Người Dùng", "Create", null, new { @class = "btn btn-success mx-1" })

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Tên người dùng</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">Email</th>
                                <th scope="col">Thao tác</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr class="text-center">

                                <th scope="col">   @Html.DisplayFor(modelItem => item.id_nguoi_dung)</th>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.ten_nguoi_dung)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.tai_khoan)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.email)
                                </td>

                                <td scope="col">
                                    <a href="@Url.Action("Edit", "AdminNguoiDung", new { id = item.id_nguoi_dung })" class="btn btn-warning mx-1">
                                        <i class="fas fa-pen text-white"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", "AdminNguoiDung", new { id = item.id_nguoi_dung })" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt text-white"></i>
                                    </a>

                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>

    </div>
</section>


